@tailwind base;
@tailwind components;
@tailwind utilities;

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

* {
  @apply font-outfit;
}

.black-gradient {
  background-image: linear-gradient(
    0deg,
    #000000 27%,
    #2e2245 46%,
    #04000b 65%,
    #05010c 77%,
    #04000b 100%
  );
  background-repeat: no-repeat;
}
body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

// img // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

//   max-width: 50vw;
//   max-height: 25vw;
//   display: block;
//   margin: auto;
// }

// form {
//   display: flex;
//   justify-content: center;
//   gap: 0.5em;
//   flex-flow: row wrap;
//   max-width: 40vw;
//   margin: auto;
//   align-items: baseline;
// }

// button[type="submit"] {
//   padding: 5px 20px;
//   margin: 10px auto;
//   float: right;
// }

// #greeting {
//   margin: 10px auto;
//   padding: 10px 60px;
//   border: 1px solid #222;
// }

// #greeting:empty {
//   display: none;
// }
